{% extends 'dashboard/base.html' %}
{% block header_text %}
  Gerenciamento de Denúncias
{% endblock %}


{% block content %}

  <div class="mx-auto ml-[10%] mr-[10%] p-2 overflow-x-auto">
    <div class="text-2xl font-normal font-[Roboto]">
      <div class="my-0 justify-between text-3xl text-center">
        <form method="get" action="{% url 'core:pesquisar' %}" class="text-center -space-x-2">
          <input name="query" class="w-4/5 py-1 px-6 border rounded-l-md placeholder:font-[Roboto] text-lg " type="text" value="{{query}}" placeholder="Insira o número do protocolo">
          <button class="font-['Roboto_Condensed'] py-1 px-8 text-lg bg-[#77EB83] border text-slate-700 rounded-r-md"> Buscar </button>
        </form>

        <div class="text-center w-full text-sm">  
          <div class="flex justify-center items-center space-x-6 p-6"> 
              <!-- Legenda para 'Aberto' -->
              <div class="flex items-center space-x-2">  <!-- Alinha verticalmente e adiciona espaço entre elementos -->
                  <div class="w-4 h-4 bg-green-500"></div>  <!-- Quadrado verde -->
                  <span>Aberto</span>
              </div>
      
              <!-- Legenda para 'Fechado' -->
              <div class="flex items-center space-x-2">
                  <div class="w-4 h-4 bg-red-500"></div>  <!-- Quadrado vermelho -->
                  <span>Fechado</span>
              </div>
      
              <!-- Legenda para 'Anônimo' -->
              <div class="flex items-center space-x-2">
                  <div class="w-4 h-4 bg-[#7798EB]"></div>  <!-- Quadrado azul -->
                  <span>Não anônimo</span>
              </div>
          </div>
      </div>
            {% for item in page_obj %}
            <div id="denuncia-{{forloop.counter}}" class="{% if item.anonimo %} bg-[#77EB83] {% else %} bg-[#7798EB] {% endif %} {% if item.situacao == False %} bg-[#DA1F1F] {% endif %} rounded-md">
              <div class="border {% if item.anonimo %} border-[#77EB83] {% else %} border-[#7798EB] {% endif %} {% if item.situacao == False %} border-[#DA1F1F] {% endif %} rounded-md rounded-br-3xl text-xs text-slate-600 my-1 relative bg-white">
                <a href="{% url 'core:protocolo' item.protocolo %}">  
                  <div class="flex font-light text-[10px] w-11/12">  
                    <span class="mx-10 w-full">Protocolo</span>
                    <span class="mx-10 w-full">Empresa</span>
                      <span class="mx-10 w-full">Data</span>
                      <span class="mx-10 w-full">Status</span>
                  </div>
                  <div class="flex font-light lg:text-lg sm:text-sm md:text-md xs:text-xs w-11/12">
                      <span class="mx-10 w-full">{{ item.protocolo }}</span>
                      <span class="mx-10 w-full">{{ item.nome_empresa|truncatechars:16 }}</span>
                      <span class="mx-10 w-full">{{ item.data_ocorrido|date:'d/m/Y' }}</span>
                      {% if item.situacao %}
                          <span class="mx-10 w-full">Aberto</span>
                      {% else %}
                          <span class="mx-10 w-full">Fechado</span>
                      {% endif %}
                  </div>
                </a>
                  <span id="icon-denuncia-{{forloop.counter}}"class="absolute top-0 right-0 mt-1 mr-10 font-bold {% if item.anonimo %} text-[#77EB83] {% else %} text-[#7798EB] {% endif %} {% if item.situacao == False %} text-[#DA1F1F] {% endif %} text-4xl cursor-pointer">+</span>
                  <div id="gaveta-denuncia-{{forloop.counter}}" style="display: none;" class="font-['Roboto_Condensed'] text-lg text-left border border-t-0 m-3 mt-5">
                    <div class="flex items-center border-0">
                      <div class="mr-2 border-t flex-grow -mt-[13.5px]"></div>
                      <div class="-mt-[13.5px] px-4">DESCRIÇÃO</div>
                      <div class="ml-2 border-t flex-grow -mt-[13.5px]"></div>
                  </div>
                  <div class="mt-2 py-2 px-4 uppercase text-[#888888] text-sm">
                      {{ item.descricao }}
                  </div>
                  
                  </div>
                    {% if item.anonimo %}
                    <div id="anonimo-denuncia-{{forloop.counter}}"class="w-full h-6 flex justify-between bg-[#77EB83] justify-center items-center font-['Roboto_Condensed'] text-black " style="display: none;">
                      <span class="ml-auto mr-5 border border-black px-1 rounded-sm" >Anônimo<span> 
                    </div>
                    {% else %}
                    <div id="anonimo-denuncia-{{forloop.counter}}"class="w-full h-6 flex justify-between {% if item.situacao %} bg-[#7798EB] {% else %} bg-[#DA1F1F] {% endif %} justify-center items-center font-['Roboto_Condensed'] text-black" style="display: none;">
                      <span class="ml-auto mr-5 border border-black px-1 rounded-sm" >Não Anônimo<span> 
                    </div>
                      {% endif %}        
                </div>
            </div>
            {% endfor %}
          </div>

          <div class="font-['Roboto_Condensed'] flex justify-end mt-10 text-sm">
            <div class="flex items-center w-auto bg-[#77EB83] p-3 space-x-4 rounded-full">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="hover:font-black bg-white py-2 px-4 rounded-full">Anterior</a>
            {% endif %}
            <p class="bg-white rounded-full py-1 px-3">{{page_obj.number}}</p>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="hover:font-black bg-white py-2 px-4 rounded-full">Próximo</a>
            {% endif %}
            </div>
        </div>
       
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('[id*="icon"]').click(function(){
        var id = $(this).closest('[id^="denuncia"]').attr('id');
        var gavetaId= "#gaveta-" + id
        var icon = "#icon-" + id
        var todasClasses = $(icon).attr('class');
        // Ou
        // var todasClasses = $(this).prop('class');

        // Dividir as classes em um array
        var arrayClasses = todasClasses.split(' ');

        // Encontrar a classe 'text' no array de classes
        var classeText = arrayClasses.filter(function(classe) {
            return classe.startsWith('text-[#');
        });
       
        if (classeText.length > 0) {
          var ultimaClasseText = classeText.pop(); // Pegando a última ocorrência
          console.log(ultimaClasseText);
        if($(icon).text() === "+"){
          $(icon).text('-').addClass('font-[300] border-4 border-'+ultimaClasseText.slice(5) + " w-7 h-7 rounded-full flex justify-center items-center text-6xl  mt-3 pb-0.5");
        }
        else{
          $(icon).text('+').removeClass('font-[300] border-4 border-'+ultimaClasseText.slice(5) + " w-7 h-7 rounded-full flex justify-center items-center text-6xl  mt-3 pb-0.5");
        }
        $(gavetaId).toggle();
        $("#anonimo-" + id).toggle();
      }
      })

     
    }
    )
  
  </script>
{% endblock %}


